{% extends 'layout.html.twig' %}
{% block title %}ALL ARTICLES{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Update</th>
                            <th>Comments</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for articles in pagination %}
                            <tr>
                                <td>{{ articles.id }}</td>
                                <td>{{ articles.title }}</td>
                                <td><a href="{{ path('article_edit', { 'id' : articles.id|default('1') }) }}">Update</a></td>
                                <td><a href="{{ path('article_comments') }}">Comments</a></td>
                                <td><a href="{{ path('articles_delete', { 'id' : articles.id|default('1') }) }}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
