{% extends 'layout.html.twig' %}ц
{% block title %}ALL ARTICLES{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for article in pagination %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td><a hfer="{{ path('article_edit') }}">Update</a></td>
                                <td><a hfer="{{ path('article_comments') }}">Comments</a></td>
                                <td><a hfer="{{ path('article_delete') }}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
