{% extends 'layout.html.twig' %}

    {% block title %}<h1>Edit the Article! ?</h1>{% endblock %}

        {% block body %}
            <div class="row">
                <div class="col-sm-12">
                    {{ form_start(articleForm) }}
                    {{ form_row(articleForm.title, {
                        label: 'Article title'
                    }) }}

                    {{ form_row(articleForm.content) }}
                    <button type="submit" class="btn btn-primary">Update!</button>
                    {{ form_end(articleForm) }}
                    {{ include('admin/_form.html.twig', {
                        button_text: 'Update!'
                    }) }}
                </div>
            </div>
        {% endblock %}